*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    background-color: #2B3A67;
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
body{
    background-color: #E8E8E8;
}
#nav-text{
    font-size: 35px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 3% 15%;
}

.nav-text-div{
    width: 31%;
    /* border: pink; */
}
.nav-navigations{
    display: flex;
    width: 69%;
    /* background-color: pink; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: white;
    gap: 5%;
    align-items: center;
    padding-left: 7%;
    font-weight: bold;
}

/* home */

.home{
    display: flex;
}
.home-text-div{
    width: 40%;
    /* background-color: pink; */
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10%;
    padding-left: 5%;
}
.home-image-div{
    width: 60%;
    padding: 5% 8%;
}
#dogtrump-image{
    margin-top: 10%;
    width: 90%;
    border-radius: 10px;
}
.home-text1{
    font-size: 42px;
    color: #2B3A67;
    font-weight: bold;
    margin-bottom: 2%;
}
.home-text2{
    font-size: 42px;
    color: #2B3A67;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 2%;
}
.home-text3{
    font-size: 42px;
    color: #2B3A67;
    font-weight: bold;
    margin-bottom: 5%;
}
.home-text4{
    font-size: 25px;
    color: black;
}
.buy{
    width: 87%;
    height: 12%;
    font-size: 25px;
    background-color: #2B3A67;
    color: white;
    padding: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    margin-top: 8%;
    font-weight: 600;
    display: flex;
    align-items: center;
}



/* narrative */
.narrative{
    height: 70vh;
    font-style: italic;
    font-size: 25px;
    color: #2B3A67;
    font-weight: bolder;
    padding-top: 5%;
}
.narrative-box{
    border-radius: 20px;
    background-color: white;
    width: 80%;
    margin: auto;
    padding: 2%;
}


/* tokenomics */
.tokenomics-section{
    height: 170vh;
    display: flex;
    /* flex-direction: column; */
    font-family: Arial, Helvetica, sans-serif;
    /* align-items: center; */
    padding-top: 3%;
}
.tokenomics-img{
    width: 45%;
    /* background-color: pink; */
    padding-left: 3%;
    padding-top: 15%;
}
.token-text{
    width: 55%;
    padding-left: 15%;
    padding-top: 3%;
}
#token-img{
    width: 100%;
    /* height: 100vh; */
    border-radius: 10px;
}
.token1{
    font-size: 60px;
}
.sub-token1{
    font-size: 30px;
}
.token2{
    padding-top: 3%;
    font-size: 60px;
}
.sub-token2{
    font-size: 30px;
    padding-top: 1%;
}
.token3{
    font-size: 60px;
    padding-top: 3%;
}
.sub-token3{
    font-size: 30px;
    padding-top: 1%;
}
.token4{
    font-size: 60px;
    padding-top: 3%;
}
.sub-token4{
    font-size: 30px;
    padding-top: 1%;
}


/* how-to-buy */
#purchase-id{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    width: fit-content;
    margin: auto;
    padding-top: 5%;
}
.purchase-section{
    padding: 5%;
}
.purchase-section-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 3%;
}

#step1{
    width: 70%;
    margin-left: 15%;
    background-color: #2B3A67;
    padding: 4%;
    border-radius: 20px;
    /* transition: opacity 3s, transform ease-in-out; */
 
}

#step1:hover{
    box-shadow: 0 12px 20px rgb(43, 58, 103);
    transform: translateY(-10px);
    z-index: -1;
}
#step1 h1{
    font-size: 230%;
    /* background-color: pink; */
    width: 35%;
    margin-left: 32.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
#step1 p{
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
#step2{
    width: 70%;
    margin-left: 15%;
    background-color: rgb(43, 58, 103);
    padding: 4%;
    border-radius: 20px;
}
#step2:hover{
    box-shadow: 0 12px 20px rgb(43, 58, 103);
    transform: translateY(-10px);
    z-index: -1;
}
#step2 h1{
    font-size: 230%;
    /* background-color: pink; */
    width: 40%;
    margin-left: 30%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
#step2 p{
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
#step3{
    width: 70%;
    margin-left: 15%;
    background-color: #2B3A67;
    padding: 4%;
    border-radius: 20px;
}
#step3:hover{
    box-shadow: 0 12px 20px rgb(43, 58, 103);
    transform: translateY(-10px);
    z-index: -1;
}
#step3 h1{
    font-size: 230%;
    /* background-color: pink; */
    width: 50%;
    margin-left: 25%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
#step3 p{
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

a{
    text-decoration: none;
    color: white;
}

/* SOCIALS */
.all-socials {
    background-color: #2B3A67;
    padding: 40px 20px;
    margin-top: 10%;
}

.socials-section {
    text-align: center;
    margin: auto;
    /* background-color: palegreen; */
}

#socials-text {
    font-size: 30px;
    width: 100%;
    /* background-color: pink; */
    color: white;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.socials a img {
    width: 80px;
    height: 80px;
    transition: transform 0.3s ease;
}

.socials a img:hover {
    transform: scale(1.1);
}